/* Main Font in (style.css) */

/* All Custom Fonts in (style.css) */
/* Add / Change if required! */

/* All Custom Colors in (style.css) || [:root] || */
/* Add / Change if required! */

/* 404 Page Styles Start */

section.page404 {
    position: relative;
}

section.page404 div.page404 {
    position: relative;
    margin: 150px auto -150px;
    padding: 50px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 404 Div */

section.page404 div.page404 img {
    margin: 20px auto;
    width: 50%;
    height: 100%;
}

section.page404 div.page404 h3 {
    margin: 20px auto 10px;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    color: var(--lightblack);
    text-align: center;
}

section.page404 div.page404 span {
    margin: 10px auto;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    color: var(--lightviolet);
    -webkit-text-stroke: 0.5px var(--lightviolet);
    text-align: center;
}

section.page404 div.page404 p {
    margin: 10px auto;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    color: var(--lightgrey);
    text-align: center;
    line-height: 40px;
}

section.page404 div.page404 a.btn-404 {
    margin: 20px auto;
    padding: 8px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    color: var(--lightwhite);
    background: var(--lightred);
    border: 3.5px solid var(--lightred);
    border-radius: 10px;
    transition: all 0.3s ease;
}

section.page404 div.page404 a.btn-404:hover {
    color: var(--darkgrey);
    background: transparent;
}

/* 404 Dark Theme */

body.dark section.page404 div.page404 h3 {
    color: var(--lightwhite);
}

body.dark section.page404 div.page404 span {
    color: var(--lightyellow);
    -webkit-text-stroke: 0.5px var(--lightyellow);
}

body.dark section.page404 div.page404 a.btn-404:hover {
    color: var(--lightwhite);
}

/* 404 Responsive Media */

@media (max-width: 768px) {
    section.page404 div.page404 img {
        width: 100%;
    }

    section.page404 div.page404 h3 {
        font-size: 2rem;
    }

    section.page404 div.page404 span {
        font-size: 1.8rem;
    }

    section.page404 div.page404 p {
        font-size: 1.4rem;
    }

    section.page404 div.page404 a.btn-404 {
        padding: 6px 18px;
        font-size: 1rem;
    }
}

@media (max-width: 424px) {
    section.page404 div.page404 {
        margin: 50px auto -150px;
    }

    section.page404 div.page404 h3 {
        font-size: 1.8rem;
    }

    section.page404 div.page404 span {
        font-size: 1.6rem;
    }

    section.page404 div.page404 p {
        font-size: 1.2rem;
        line-height: 30px;
    }

    section.page404 div.page404 a.btn-404 {
        padding: 6px 18px;
        font-size: 1rem;
    }
}
