/* Main Font in (style.css) */

/* All Custom Fonts in (style.css) */
/* Add / Change if required! */

/* All Custom Colors in (style.css) || [:root] || */
/* Add / Change if required! */

/* About Section Styles Start */

section.about {
    position: relative;
}

.about-container {
    position: relative;
    margin: 20px auto;
    padding: 50px 20px 10px;
    width: 100%;
}

/* About Text Div */

.about_text {
    position: relative;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_text h3 {
    position: relative;
    margin: 30px auto 10px;
    font-size: 4.5rem;
    font-weight: 600;
    font-family: "Rancho", sans-serif;
    color: var(--lightblack);
    text-align: center;
    letter-spacing: 1px;
}

.about_text h3::after {
    content: "";
    width: 70%;
    height: 6px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -100%);
    border-radius: 100%;
    background: var(--lightcyan);
    z-index: -1;
}

.about_text img {
    margin: 10px auto 20px;
    width: 64px;
    height: 64px;
}

.about_text p {
    margin: 20px auto;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    color: var(--darkgrey);
    text-align: justify;
    text-align-last: center;
}

.author {
    margin: 30px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author img {
    margin: auto 10px;
    width: 80px;
    height: 80px;
}

.author span h6 {
    margin: 5px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    color: var(--lightblack);
    text-align: center;
}

.author span p {
    margin: 5px 10px;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    color: var(--lightgrey);
    text-align: center;
}

/* About Image Div */

.about_img {
    position: relative;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_img img {
    width: 100%;
}

/* About Responsive Media */

@media (max-width: 992px) {
    .about_text,
    .about_img {
        padding: 10px 30px;
    }

    .about_text h3 {
        font-size: 3.8rem;
    }

    .about_text h3::after {
        width: 60%;
        height: 5px;
    }

    section.about div.about-container .about_text p {
        margin: 10px auto;
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .about_img img {
        width: 50%;
    }
}

@media (max-width: 442px) {
    .about_text, .about_img {
        padding: 10px 20px;
    }

    .about_text h3 {
        margin: 20px auto 10px;
        font-size: 3rem;
    }

    .about_text h3::after {
        height: 4px;
    }

    .about_text img {
        width: 56px;
        height: 56px;
    }

    .about_text p {
        font-size: 1rem;
    }
}

@media (max-width: 332px) {
    .author img {
        margin: auto 5px;
        width: 72px;
        height: 72px;
    }

    .author span h6 {
        margin: 5px;
        font-size: 1rem;
    }

    .author span p {
        margin: 5px;
        font-size: 0.8rem;
    }
}
